{% extends 'base.html' %}

{% block content %}

<center>
    <h1>Sejarah Fakultas Keguruan dan Ilmu Pendidikan</h1>
</center>
    <p>Universitas Sultan Ageng Tirtayasa bermula namanya Universitas Tirtayasa didirikan oleh sebuah yayasan, yakni yayasan Pendidikan Tirtayasa, pada tanggal 1 Oktober 1980, dengan Akta Notaris Rosita Wibowo, S.H. Nomor 1 tanggal 1 Oktober 1980, yang diperbarui dengan Akta Notaris Ny. R. Arie Soetardjo, S.H. Nomor 1 tanggal 3 Maret 1986.
        Tujuan yayasan Pendidikan Tirtayasa mendirikan perguruan tinggi, antara lain: ingin membantu pemerintah dalam membangun pendidikan melalui pendirian sekolah-sekolah mulai TK sampai dengan Perguruan Tinggi dan merencanakan pengusulan sarana pendidikannya.
        Nama Tirtayasa diambil dari nama pahlawan nasional yang berasal dari Banten, yaitu Sultan Ageng Tirtayasa (Keppres RI nomor : 045/TK/1970), pewaris Kesultanan Banten keempat, yang gigih menentang penjajahan Belanda dan ia berhasil membawa kejayaan dan keemasan Banten pada waktu itu.
        Pada awalnya Yayasan Pendidikan Tirtayasa Banten mendirikan Sekolah Tinggi Ilmu Hukum (STIH), Sekolah Tinggi Keguruan dan Ilmu Pendidikan (STKIP), dan Sekolah Tinggi Teknologi (STI). STIH didirikan pada tanggal 1 Oktober 1981 yang selanjutnya tanggal tersebut ditetapkan sebagai tanggal kelahiran Untirta (Universitas Tirtayasa) melalui surat keputusan Mendikbud RI nomor : 0596/0/1984 tanggal 28 November 1984 ketiga sekolah tinggi tersebut digabungkan menjadi sebuah universitas dan status sekolah tinggi masing-masing berubah menjadi Fakultas Hukum, Fakultas Keguruan dan Ilmu Pendidikan, dan Fakultas Teknik. Status akreditasi pada waktu itu adalah terdaftar dengan surat keputusan Mendikbud RI nomor : 0597/0/1984 (untuk ketiga fakultas).</p>

{% endblock %}